<div class="form-group input-group">
    <select class="form-control" name="target_type" [(ngModel)]="this.selectedTeacher" (change)="selectTeacher()">
        <option *ngFor="let teacher of this.teachers" [ngValue]="teacher">{{teacher.firstName}} {{teacher.lastName}}</option>
    </select>
  <button class="btn btn-info" (click)="getTeacherMeetingHours()">Search</button>
</div>

<div *ngIf="this.meetingHours != null" >

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Teacher</th>
            <th scope="col">Day of Week</th>
            <th scope = "col">Hour</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meetingHour of this.meetingHours">
            <th scope="row">{{meetingHour.teacher}}</th>
            <td>{{meetingHour.dayOfWeek}}</td>
            <td>{{meetingHour.hour}}</td>
            <td><button class="btn btn-info" (click)="reserveMeeting(meetingHour)">Reserve</button></td>
          </tr>
        </tbody>
      </table>
      
      <input class="form-control text-center" placeholder="yyyy-mm-dd" name="d" [(ngModel)]="this.date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" [markDisabled]="this.markDisabled">
</div>