<table class="table">
  <thead>
    <tr>
      <th scope="col">Teacher</th>
      <th scope="col">Date</th>
      <th scope="col">Hour</th>
      <th scope="col">Class</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let absence of this.absences">
      <td>{{absence.teacher}}</td>
      <td>{{absence.date}}</td>
      <td>{{absence.hour}}</td>
      <td>{{absence.class}}</td>
      <td><button class="btn btn-info" (click) = "confirmSubstitution(absence)">Confirm Substitution</button></td>
      <td><button class="btn btn-danger" (click) = "ignoreSubstitution(absence)">Ignore Substitution</button></td>
    </tr>
  </tbody>
</table>