<table class="table">
  <thead>
    <tr>
      <th scope="col">Teacher</th>
      <th scope="col">Date</th>
      <th scope="col">Hour</th>
      <th scope="col">Class</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let absence of this.absences">
      <td>{{absence.lessonHour.teacher.firstName}} {{absence.lessonHour.teacher.lastName}}</td>
      <td>{{absence.date}}</td>
      <td>{{absence.lessonHour.hour}}</td>
      <td>{{absence.lessonHour.class}}</td>
      <td><button class="btn btn-info" (click) = "setSubstitutionDisponibility(absence)">Confirm Substitution</button></td>
    </tr>
  </tbody>
</table>