<div class="container">
    <div>
        <form>
            <div class="form-group input-group"> 
                <input name="name" class="form-control" placeholder="First Name" type="text"
                    [(ngModel)]="this.insertedFirstName">
            </div>
            <div class="form-group input-group">
                <input name="surname" class="form-control" placeholder="Last Name" type="text"
                    [(ngModel)]="this.insertedLastName">
            </div>
            <div class="form-group input-group">
                <input name="email" class="form-control" placeholder="Email address" type="email"
                    [(ngModel)]="this.insertedEmail">
            </div>
            <div class="form-group input-group">
                <select class="form-control" name="role" [(ngModel)]="this.insertedRole" (change)="selectRole()">
                    <option selected=""> Select user type </option>
                    <option>STUDENT</option>
                    <option>PARENT</option>
                    <option>TEACHER</option>
                </select>
            </div>
            <div *ngIf="this.insertedRole == 'STUDENT'">
                <div class="form-group">
                    <select class="form-control" name="parent">
                            <option selected=""> Select parent </option>
                        <option *ngFor="let parent of this.parents">{{parent.firstName}} {{parent.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                        <select class="form-control" name="class">
                            <option selected=""> Select class </option>
                            <option *ngFor="let class of this.classes">{{class.year}}{{class.section}}{{class.branch}}</option>
                        </select>
                </div>
            </div>
            <div *ngIf="this.insertedRole == 'TEACHER'">
                <div class="form-group">
                    <select class="form-control" name="subject" [(ngModel)] ="this.selectedSubject" (change)="addSubject()">
                        <option selected=""> Select subject </option>
                        <option *ngFor="let subject of this.subjects" [ngValue]="subject">{{subject.name}}</option>
                    </select>
                </div>
                <table>
                    <tr *ngFor="let subject of this.teacherSubjects">
                        <td>{{subject.name}}</td>
                        <td><button class="btn btn-danger" (click)="removeFromSubjects(subject)">Remove</button></td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info" (click)="createAccount()"> Create Account </button>
            </div>
        </form>
    </div>
</div>